{% extends "_base.html" %}
{% block content %}

<!-- Navbar -->
{% include 'components/navbarComponent.html' %}
<!-- Fim Navbar -->

{% include 'components/herocaptionComponent.html' %}

<!-- Início do slideOverComponent -->
{% include 'components/slideOverComponent.html' %}
<!-- Fim SlideOverComponent -->

<!-- Inicio do alertComponent -->
{%if mensagem%}
{%include "components/alertComponent.html"%}
{%endif%}
<!-- Fim do alertComponent -->

<!-- Inicio do corpo -->
<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Mais vistos</h2>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="https://cdn.awsli.com.br/600x450/163/163535/produto/124316733/0eb4a98c1e.jpg"
            alt="Front of men&#039;s Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pêra Maçã Anã
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Pyrus pyrifolia</p>
          </div>
          <p class="text-sm font-medium text-gray-900">R$ 120.00</p>
        </div>
      </div>

      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="https://cdn.awsli.com.br/600x450/163/163535/produto/5830540/334c144076.jpg"
            alt="Front of men&#039;s Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pimenta do Reino
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Piper nigrum</p>
          </div>
          <p class="text-sm font-medium text-gray-900">R$ 20.00</p>
        </div>
      </div>

      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="https://cdn.awsli.com.br/1000x1000/163/163535/produto/6341671/a924d444cc.jpg"
            alt="Front of men&#039;s Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Mini Romã Bonsai
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Punica granatum</p>
          </div>
          <p class="text-sm font-medium text-gray-900">R$ 180.00</p>
        </div>
      </div>

      <div class="group relative">
        <div
          class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="https://cdn.awsli.com.br/1000x1000/163/163535/produto/9202799/b85e11c341.jpg"
            alt="Front of men&#039;s Basic Tee in black."
            class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pitanga Bonsai 2 anos
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">ybápytanga</p>
          </div>
          <p class="text-sm font-medium text-gray-900">R$ 90.00</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Inicio do Footer -->
{% include 'components/footerComponent.html' %}
<!-- Fim do Footer -->

{% endblock content %}